@import '../sass/variables';

@keyframes progress {
    to {
        stroke-dasharray: 100 100;
    }
}

.progress__circle {
    stroke-width: 8px;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    animation: progress linear forwards;
/*     animation-timing-function: steps(var(--steps), end); */
    animation-duration: var(--totalTime);
    animation-play-state: var(--pause);
}

.base__circle {
    stroke-width: 8px;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    filter: drop-shadow(-5px 0px 0.7px rgba(0, 0, 0, 0.25));
}

/* ---------------------------------------------------- */

.timer--clock {
    color: #fff;
    text-shadow: $shadow;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.timer--minutes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.375em;
}

.timer--seconds {
    position: absolute;
    top: 78px;
    right: 50px;
    font-size: 30px;
    text-shadow: 0px 2px 0.7px rgba(0, 0, 0, 0.25);
}