@import '../sass/variables';

/* Blue Theme */
.blue-primary {
    background-color: $blue-primary;
    stroke: $blue-primary;
}
  
.blue-secondary {
    background-color: $blue-secondary;
    fill: $blue-secondary;
}
  
.blue-background {
    background-color: $blue-background;
}
  
.blue-light {
    background-color: $blue-light;
}
  
/* Red Theme */
.red-primary {
    background-color: $red-primary;
    stroke: $red-primary;
}

.red-secondary {
    background-color: $red-secondary;
    fill: $red-secondary;
}

.red-background {
    background-color: $red-background;
}

.red-light {
    background-color: $red-light;
}

/* Dark Theme */
.dark-primary {
    background-color: $dark-primary;
    stroke: $dark-light;
}

.dark-secondary {
    background-color: $dark-secondary;
    fill: $dark-secondary;
}

.dark-background {
    background-color: $dark-background;
}

.dark-light {
    background-color: $dark-light;
}

/* Green Theme */
.green-primary {
    background-color: $green-primary;
    stroke: $green-primary;
}

.green-secondary {
    background-color: $green-secondary;
    fill: $green-secondary;
}

.green-background {
    background-color: $green-background;
}

.green-light {
    background-color: $green-light;
}
  