@import '../sass/variables';

@keyframes arrowDown {
    from {
        top: 0px;
    }
    to {
        top: 6px;
    }
}

@keyframes arrowUp {
    from {
        top: 0px;
    }
    to {
        top: -6px;
    }
}

.arrow__container--down {
    position: relative;
    &:hover {
        animation: arrowDown 700ms forwards;
    }
}

.arrow__container--up {
    position: relative;
    &:hover {
        animation: arrowUp 700ms forwards;
    }
}

.arrow {
    height: 8px;
    width: 34px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.arrow-- {
    &up {
        filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.25));
    }
    &down {
        transform: rotate(180deg);
        filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.25));
    }
}