@keyframes progress {
    to {
        stroke-dasharray: 100 100;
    }
}

/* 
    Blue
    #5A76BF color
    #89A4E8 fondo
    #7B96DB contraste
    #DFE8FF luz

    Red
    #a83838
    #e35454
    #e07676
    #ffa8a8

    Dark
    #131313
    #353539
    #ccccf5

    Green
    #318A5F
    #64d8a0
    #45de94
    #adffd8
 */

.progress__circle {
    stroke: rgb(76, 76, 185);
    stroke-width: 5px;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    animation: progress linear forwards;
    animation-duration: var(--totalTime);
}

.base__circle {
    stroke: hsl(240, 44%, 75%);
    stroke-width: 8px;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}
