@import '../sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.button--start, .button--pause, .button--reset, .button--next {
    width: 60px;
    height: 60px;
    border-radius: 9px;
    box-shadow: $shadow;
    &:active {
        box-shadow: $shadow-active;
    }
}

@keyframes configRotate {
    to {
        transform: rotate(90deg);
        filter: drop-shadow(4px 0px 0px rgba(0, 0, 0, 0.25));
    }
}

.config {
    width: 36px;
    height: 36px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
    &:hover {
        animation: configRotate 700ms forwards;
    }
}

.icon {
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}

.icon-- {
    &blue {
        filter: invert(81%) sepia(10%) saturate(479%) hue-rotate(190deg) brightness(106%) contrast(109%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:hover {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        }
        &:active {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
    &red {
        filter: invert(85%) sepia(98%) saturate(2515%) hue-rotate(289.5deg) brightness(91%) contrast(127%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:hover {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        }
        &:active {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
    &dark {
        filter: invert(90%) sepia(6%) saturate(254%) hue-rotate(202deg) brightness(92%) contrast(88%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:hover {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        }
        &:active {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
    &green {
        filter: invert(84%) sepia(79%) saturate(189%) hue-rotate(57deg) brightness(102%) contrast(107%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:hover {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        }
        &:active {
            filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(2deg) brightness(105%) contrast(107%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
}