@keyframes progress {
    to {
        stroke-dasharray: 100 100;
    }
}

.progress__circle {
    stroke: rgb(76, 76, 185);
    stroke-width: 5px;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    animation: progress linear forwards;
    animation-duration: var(--totalTime);
}

.base__circle {
    stroke: hsl(240, 44%, 75%);
    stroke-width: 8px;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}
