@import '../sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@keyframes progress {
    to {
        stroke-dasharray: 100 100;
    }
}

.progress__circle {
    stroke-width: 8px;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    animation: progress linear forwards;
/*     animation-timing-function: steps(var(--steps), end); */
    animation-duration: var(--totalTime);
    animation-play-state: var(--pause);
}

.base__circle {
    stroke-width: 8px;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    filter: drop-shadow(-5px 0px 0.7px rgba(0, 0, 0, 0.25));
}

/* ---------------------------------------------------- */

.timer--clock {
    color: #fff;
    text-shadow: $shadow;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    z-index: 1;
}

.timer--minutes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.375em;
}

.timer--seconds {
    position: absolute;
    top: 78px;
    right: 50px;
    font-size: 30px;
    text-shadow: 0px 2px 0.7px rgba(0, 0, 0, 0.25);
}

.button--start, .button--pause, .button--reset, .button--next {
    width: 60px;
    height: 60px;
    border-radius: 9px;
    box-shadow: $shadow;
    &:active {
        box-shadow: $shadow-active;
    }
}

.config {
    width: 36px;
    height: 36px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
}

.icon {
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}

.icon-- {
    &blue {
        filter: invert(83%) sepia(48%) saturate(306%) hue-rotate(189deg) brightness(102%) contrast(104%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:active {
            filter: invert(83%) sepia(48%) saturate(306%) hue-rotate(189deg) brightness(102%) contrast(104%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
    &red {
        filter: invert(88%) sepia(64%) saturate(4900%) hue-rotate(292deg) brightness(101%) contrast(101%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:active {
            filter: invert(88%) sepia(64%) saturate(4900%) hue-rotate(292deg) brightness(101%) contrast(101%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
    &dark {
        filter: invert(93%) sepia(8%) saturate(190%) hue-rotate(201deg) brightness(89%) contrast(88%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:active {
            filter: invert(93%) sepia(8%) saturate(190%) hue-rotate(201deg) brightness(89%) contrast(88%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
    &green {
        filter: invert(88%) sepia(41%) saturate(303%) hue-rotate(81deg) brightness(100%) contrast(103%)
        drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
        &:active {
            filter: invert(88%) sepia(41%) saturate(303%) hue-rotate(81deg) brightness(100%) contrast(103%)
            drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }
    }
}