@import '../sass/variables';

@keyframes progress {
    to {
        stroke-dasharray: 100 100;
    }
}

.progress__circle {
    fill: $blue-secondary;
    stroke: $blue-primary;
    stroke-width: 8px;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    animation: progress linear forwards;
/*     animation-timing-function: steps(var(--steps), end); */
    animation-duration: var(--totalTime);
    animation-play-state: var(--pause);
}

.base__circle {
    fill: $blue-secondary;
    stroke-width: 8px;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

/* ---------------------------------------------------- */

.button--start, .button--pause, .button--reset, .button--next {
    width: 60px;
    height: 60px;
    border-radius: 9px;
    background-color: $blue-light;
}


