@tailwind base;
@tailwind components;
@tailwind utilities;
@import './sass/variables';

body {
  height: 100vh;
  font-family: Inter;
}

.modal {
  z-index: 10;
  position: absolute;
  //inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
